<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Most Liked Fossils</title>
  </head>
  <body>
    <h1>Hi, </h1>
    {% for key, value in MOST_LIKED_FOSSILS %}
    <div>
      <h3>{{ value.name }}</h3>
      <h2>Liked {{ value.num_likes }} times</h2>
      <img src="{{ value.img }}">
    </div>
    {% endfor %}
  </body>
</html>
