{% extends 'base.html' %}

{% block title %}Top Fossils{% endblock %}

{% block body %}
  <h1>Welcome, {{ name }}</h1>

  {% for key, value in MOST_LIKED_FOSSILS %}
  <div class="fossil-div">
    <h3>{{ name }}, this is a {{ value.name }}</h3>
    <h2>Liked {{ value.num_likes }} times</h2>
    <img src="{{ value.img }}">
  </div>
  {% endfor %}

  <h1>Like a Fossil</h1>
  <form action="/like-fossil" method="post">
    <select name="fossilKey" id="fossil">
      {% for key, value in MOST_LIKED_FOSSILS %}
      <option value="{{ key }}">{{ value.name }}</option>
      {% endfor %}
    </select>
    <button type="submit">Submit</button>
  </form>

{% endblock %}